.yourJob{
    font-size: 28px;
    color: #FFE901;
    font-weight: 600;
    margin-left: 30px;
}
.jobHeading {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid #2b2b2b1a;
    color: #2b2b2bcc;
    width: 90%;
    margin: auto;
  }
  .jobActiveTabActive {
    position: relative;
    border-bottom: 6px solid #003986;
    left: -38px;
    bottom: -6px;
    line-height: 23px;
    width: 150px;
    text-align: center;
  }
  .jobRecentTabActive {
    position: relative;
    border-bottom: 6px solid #003986;
    bottom: -6px;
    line-height: 13px;
    width: 150px;
    text-align: center;
    margin-right: 0 !important;
  }
  .jobInterviewTabActive {
    position: relative;
    border-bottom: 6px solid #003986;
    bottom: -6px;
    line-height: 13px;
    width: 150px;
    text-align: center;
    margin-right: 0 !important;
  }