.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.logo h2 {
  color: #003986;
}
.logo p {
  color: #ffe901;
}
.bellIcon {
  width: 32px;
  height: 40px;
  transform: translateX(-20px);
}
.avatar {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  transform: translateY(5px);
  background-size: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.links ul {
  list-style-type: none;
  display: flex;
}
.navlink {
  display: block;
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
  color: #2b2b2bcc;
  font-weight: 700;
}
.activelink {
  color: #003986 !important;
}
.profile {
  position: absolute;
  background-color: #003986;
  right: 40px;
  top: 80px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  z-index: 9;
}
.profileName {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.profileTitle {
  color: #ffe901;
  font-size: 18px;
  font-weight: 400;
}
.profileOptions {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 10px;
}
.profileOptions p {
  margin-left: 10px;
}
.switchMode{
  display: flex;
  justify-content: center;
}
.switchMode button{
  width: 160px;
  padding: 10px;
  color: #003986;
  font-size: 22px;
  font-weight: 500;
  border-radius: 7px;
}
.mode{
  background-color: #ffffff;
  color: #003986;
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #003986;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}