.jobHeading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 6px solid #2b2b2b1a;
  color: #2b2b2bcc;
}
.activeJob {
  text-align: center;
  margin-left: 70px;
}
.runningJob {
  text-align: center;
  margin-right: 70px;
}
.jobActiveTabActive {
  position: relative;
  border-bottom: 6px solid #003986;
  bottom: -7px;
  width: 210px;
}
.jobRecentTabActive {
  position: relative;
  border-bottom: 6px solid #003986;
  bottom: -7px;
  width: 210px;
}

@media only screen and (max-width: 796px) {
  .activeJob  {
    margin-left: 40px;
  }
  .runningJob  {
    margin-right: 40px;
  }
  .jobActiveTabActive{
    width: 120px;
  }
  .jobRecentTabActive{
    width: 100px;
  }
}

